/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}*/

.login-register {
    /*background: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2));*/
    background-image: url("../App_Files/Backgrounds/login-bg-1-tran.jpg");
}

.login-box {
    margin-top: 30vh;
}